@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: "Azeret Mono", monospace;
}
/* primary styles start */

/* primary styles end */
.btn-primary{
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 8px;
    border: 1px solid #0D1321;
    opacity: 0.8;
    cursor: pointer;
    font-family: "Azeret Mono";
}
.btn-secondary{
    color: #0D1321;
    font-size: 20px;
    font-weight: 600;
    font-family: "Azeret Mono";
    padding: 12px 20px;
    border: 1px solid #0D1321;
    opacity: 0.7;
    cursor: pointer;
}
.text-primary{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.p-primary{
    color: #0D1321;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.h3-primary{
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}
section{
    max-width: 1140px;
    margin: 0 auto;
}
/* header style start */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
nav>h3{
    color: #0D1321;
    font-size: 28px;
    font-weight: 800;
}
.btn-primary>a, .btn-secondary>a{
    text-decoration: none;
    color: #0D1321;
}

/* hero section */
.hero{
    background-image: url(../assets/banner.png);
    min-height: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.hero>h1{
    color: #0D1321;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}
.hero>p{
    text-align: center;
}
.hero>button{
    border-radius: 8px;
    background-color: #0D1321;
    padding: 21px 24px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: "Azeret Mono";
}
.hero>button>a{
    text-decoration: none;
    color: #FFF;

}
/* header style end */
/* main style start */
/* card section style */
.development{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    margin-top: 74px;
    margin-bottom: 90px;
}
.development-p{
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 98px;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(to right, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    margin-bottom: 30px;
    
}
.card-text h4{
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px; 
}
.card-text p{
    margin-bottom: 32px;
}
.card-diff{
    justify-content: flex-end;
    flex-direction: row-reverse;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}
/* inspiration style*/
.inspiration{
    margin-bottom: 151px;
}
.inspiration-p{
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}
.jhankar-sir{
    display: flex;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);
    padding: 32px;
}

.target>p{
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}
.target-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.target-items{
    padding: 40px;
    border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
width: 364px;
}
.target-items>h4{
    color: #0D1321;
font-size: 24px;
font-weight: 800;
line-height: 36px;
margin: 24px 0 8px;
}
.target-items>a{
    color: #0D1321;
font-size: 16px;
font-weight: 700;
text-decoration-line: underline;
margin-top: 24px;
display: inline-block;
}
.css{
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
}
.js{
    border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}
/* support section style */
.support{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../assets/hand.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 313px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin-top: 49px;
    margin-bottom: 80px;
}
.support>h3{
    color: #FFF;
text-align: center;
font-size: 32px;
font-weight: 700;
line-height: 36px;
}
.support>p{
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: 16px;
margin-bottom: 24px;
opacity: 0.7;
}
.support>div>input[type="text"]{
    width: 548px;
    padding: 19px 20px;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
    color: rgba(13, 19, 33, 0.40);
font-size: 16px;
font-weight: 400;
outline: none;
}
.support>div{
    display: flex;
    align-items: center;
    gap: 16px;
}
.support>div>button{
    color: #0D1321;
font-size: 20px;
font-weight: 600;
padding: 17px 20px;
border-radius: 8px;
background: #FFF;
border-radius: 8px;
border: 0;
}
/* main style end */
/* footer style */
footer{
    max-width: 1140px;
    margin: 80px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
footer>h4{
    color: #0D1321;
font-size: 20px;
font-weight: 600;
}
footer>div>a{
    margin-right: 24px;
}
